bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/appsettings.Development.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# JetBrains Rider / .idea folder
.idea/

# ReSharper user settings
*.sln.DotSettings.user