bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Environment Variables/Config
.env
**/appsettings.Development.json
**/appsettings.Production.json

# JetBrains Rider / .idea folder
.idea/

# ReSharper user settings
*.sln.DotSettings.user
