bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/appsettings.Development.json
**/appsettings.Production.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
